@page
@model FastCast.Pages.Session.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].SessionCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].InitiatorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Timer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].FormId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Session) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SessionCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitiatorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SessionId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SessionId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SessionId">Delete</a>
                <form asp-page-handler="sessionInfo" method="post">
                    @{ /* TODO: CHANGE DAT TIMER NAME */ }
                    <input type="hidden" name="sessionTime" value="@item.Timer" />
                    <input type="hidden" name="sessionId" value="@item.SessionId" />
                    <button type="submit" class="btn btn-primary" >Start</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
