@page
@model FastCast.Pages.Session.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
    .special-td {
        border-style: none;
        /*border-bottom: 1px solid black;*/
        /*background-color: white;*/
        border-top-style: none !important;
    }

    .special-td:hover {
        border-style: none;
        border-bottom: 1px solid red;
    }

</style>

<div class="container" style="font-family: 'Open Sans'">
    <div class="row">&nbsp;</div>
    <div class="row">
        <h1 style="">Create a session!</h1>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <table class="table table-striped table-hover table-responsive-sm">
            <thead class="bg-danger text-white">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Session[0].SessionName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Session[0].SessionCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Session[0].Timer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Session[0].Latitude)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Session[0].Longitude)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Session[0].Radius)
                    </th>
                    <th style="visibility:hidden; border-style:none">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Session)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SessionName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SessionCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Timer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Latitude)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Longitude)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Radius)
                        </td>
                        <td class="special-td">
                            <a asp-page="./Delete" class="btn btn-outline-danger" asp-route-id="@item.SessionId">Delete</a> |
                            <a asp-page="./Edit" asp-route-id="@item.SessionId">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.SessionId">Details</a> |
                            <a asp-page="./Start" class="btn btn-success" asp-route-id="@item.SessionId">Start</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row w-100 flex-row-reverse">
        <p>
            <a class="btn btn-primary" style="margin-right: 14px;" asp-page="Create">Create New</a>
        </p>
    </div>
</div>



