@page
@model FastCast.Pages.Session.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].SessionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].SessionCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Timer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Radius)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Session) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SessionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Radius)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SessionId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SessionId">Details</a> |
                <a asp-page="./Delete" class="btn btn-outline-danger" asp-route-id="@item.SessionId">Delete</a> |
                <a asp-page="./Start" class="btn btn-primary" asp-route-id="@item.SessionId">Start</a>
            </td>
        </tr>
}
    </tbody>
</table>
